body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/177/373/original/kiwihug-zGZYQQVmXw0-unsplash.jpg?1768247359");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Funnel Display", sans-serif;

  font-weight: lighter;
}

.topApp {
  background-color: transparent;
  max-width: 600px;
  padding: 20px 40px 10px 0px;
  margin: 40px auto 0px;
  text-align: center;
  width: 600px;
  flex-direction: row;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

header {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  max-width: 620px;
  margin: 81px auto auto;
  background-color: transparent;
}
h1 {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  margin: -10px;
  padding: 34px 13px 5px 0;
}
main {
  background-color: white;
  border-radius: 15px;
  max-width: 600px;
  padding: 10px;
  margin: 10px auto;
}

.search-form-input {
  background-color: transparent;
  border: 1px solid #5c5591;
  border-radius: 6px;
  width: 73%;
  font-size: 12px;
  padding: 10px 20px;
}

.search-form-button {
  background: transparent;
  padding: 10px 35px;
  border: 1px solid #5c5591;
  font-size: 12px;
  margin-left: 8px;
  border-radius: 6px;
  color: #5c5591;
  transition: all 300ms ease;
}
.search-form-button:hover {
  color: white;
  background-color: #5c5591;
  cursor: pointer;
}

.weather-now {
  list-style: none;
  margin: 0;
  padding: 10px 25px 0 25px;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "city icon temp";
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  max-width: 600px;
}
.city {
  grid-area: city;
  font-size: 40px;
  font-weight: 500;
  padding: 12px 20px 0px 0px;
}

.icon {
  grid-area: icon;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 7px 0 0 43px;
}

.icon img {
  width: 70px;
}

.temp {
  grid-area: temp;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.degrees {
  font-size: 52px;
  font-weight: bold;
  line-height: 1;
}

.unit {
  font-size: 18px;
  margin-top: 8px;
  margin-left: 2px;
}

.country-description {
  list-style: none;
  margin: 0;
  padding: 5px 25px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "country desc";
  font-style: italic;

  color: #353157;
}
hr {
  border: none;
  height: 0.3px;
  background-color: #f3f3f3;
}

.country {
  grid-area: country;
  font-size: 14px;
  opacity: 0.7;
  align-self: start;
}

.description {
  grid-area: desc;
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
  align-self: start;
}

.date-description {
  list-style: none;
  margin: 0;
  padding: 5px 10px 30px 25px;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "date humidity wind";
  font-size: 13px;
  font-weight: 300;
}

.date {
  grid-area: date;
  text-align: left;
}
.humidity-grid,
.wind-grid {
  text-align: center;
}
.humidity {
  grid-area: humidity;
  text-align: center;
}
.wind {
  grid-area: wind;
  text-align: center;
}
footer {
  text-align: center;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #5c5591;
}
a:hover {
  text-decoration: underline;
  color: #af781a;
}
